<div class="nav-left">
    <a href="Index.html">
    <img src="https://i.postimg.cc/Y9nZymQq/logo2.png" class="logo">
</a>
    <ul>
        <li><img src="https://i.postimg.cc/Fs3m1Djy/notification.png"></li>
        <li><img src="https://i.postimg.cc/YqGKZ8nc/inbox.png"></li>
        <li><img src="https://i.postimg.cc/xCzpgFjg/video.png"></li>
    </ul>
</div>
<div class="nav-right">
    <div class="search-box">
        <img src="https://i.postimg.cc/SKtHgM6Q/search.png">
        <input type="text" placeholder="Search">
    </div>
    <div class="nav-user-icon online" onclick="settingsMenuToggle()">
        <img src="https://i.postimg.cc/cHg22LhR/profile-pic.png">
    </div>
</div>